body{
    background-color: black;
}

h1{
    font-size: 450%;
    color: red;
}
header div {
    display: flex;
    justify-content: flex-end;
    border: 2px yellow solid;
    margin-left: 70%;
}
div button{
    justify-content: flex-end; */
    background-color: rgb(255, 8, 0);

}

header{
    display: flex;
    justify-content: 
}

h2{
    font-size: 240%;
    color: white;
}

main img{
    height: 40%;
    width: 15%;
} 